// Colors

$sepia: #f9f2e2;
$sepia-text: #533217;
$yellow: #f9e455;
$blue: #a2cce2;

// Skeleton media queries

$mobile-width: 400px;
$phablet-width: 550px;
$tablet-width: 750px;
$desktop-width: 1000px;
$desktop-hd-width: 1200px;

// Media queries mixins

@mixin mobile {
  @media (min-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin title {
  font-family: 'PT Serif', serif;
}

// Base styles

* {
  box-sizing: border-box;
}

::selection {
  background: $yellow;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: $sepia;
  font-family: 'Helvetica', 'Arial', serif;
  line-height: 1.6;
}

h1, h2, h3 {
  @include title;
}

h2, h3 {
  color: $sepia-text;
}

.button-primary {
  background-color: $blue;
  border-color: $blue;
}

.button {
  transition: all 0.2s;
}

// Page styles

.page {

}

.hero {
  overflow: hidden;
  height: 600px;
  text-align: center;
  background-color: #3B220D;
  color: $sepia;
  background: url('/images/cover.jpg') center no-repeat;
  background-size: cover;

  @include tablet {
    // padding: 14rem 0 19rem;
  }

  &-container {
    position: relative;
    // padding: 8rem 0 7rem;
  }

  // & header {
  //   margin-bottom: 3rem;
  // }

  &-title {
    // letter-spacing: 1.8px;
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 3.5rem;
    padding: 8px 24px;
    font-size: 3.6em;
    // line-height: 1rem;
    background-color: $yellow;
    color: black;
  }

  &-slogan {
    display: block;
    margin: 0;
    margin-bottom: 3.5rem;
    font-size: 3.2rem;
    line-height: 1.4;
    color: $sepia;
    // letter-spacing: 1px;
    // line-height: 1rem;
    // background-color: $yellow;
  }

  &-description {
    text-align: left;
    font-size: 1.6rem;
  }

  &-screenshot {
    position: absolute;
    top: 60px;
    right: 0;
    width: 461px;
    height: 654px;
    background: url('/images/screenshot.png') center no-repeat;
  }
}

.section {
  padding: 6rem 0 7rem;
  text-align: center;

  &:nth-child(2n) {
    background-color: white;
  }

  @include tablet {
    padding: 15rem 0 14rem;
  }

  @include desktop {
    padding: 12rem 0 11rem;
  }
}

.process {

  &-header {
    @include title;
    font-size: 2.4rem;
    line-height: 1.2;

    h4 {
      font-size: 3.2rem;
    }
  }

  &-step {
    margin-bottom: 4.5rem;

    & > h4 {
      color: $sepia-text;
    }
  }
}

.subscribe {
  background-color: $sepia;

  & > .container {
    max-width: 450px;
  }
}
